/* Universel styles */
.btn-gradient {
  background: rgb(143, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(143, 0, 255, 1) 0%,
    rgba(252, 197, 9, 1) 100%
  );
  border-radius: 0px;
  border: none;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  font-size: 20px;
  font-family: "Montserrat", serif;
}

.profile-picture {
  width: 60px;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.active {
  font-weight: bolder;
}

.nav-item-right {
  cursor: pointer;
}

.navbar-collapse {
  text-align: center;
}

@media (max-width: 991px) {
  .profile-picture-frame {
    height: 100px;
    padding-top: 15px;
  }
}
/* --------------------------------------- */

/* Filtering / Sorting */

.sorting-box {
  width: 100%;
  height: auto;
  background-color: #e9b810;
  margin-bottom: 100px;
  border-radius: 8px;
  padding-bottom: 10px;
  float: left;
}

.sorting-left {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 13px;
  margin-left: 10px;
  float: left;
}

.sorting-right {
  width: min-content;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  margin-left: 10px;
}

.sorting-right-btn-group {
  width: 180px;
  height: 38px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .sorting-box {
    width: 100%;
    height: auto;
    background-color: #e9b810;
    border-radius: 0px;
    margin-bottom: 100px;
    padding-bottom: 10px;
  }

  .sorting-left {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
  }
  .sorting-right {
    width: 100%;
    height: 38px;
    margin: 0 auto;
    text-align: center; /* Center text content */
  }
  .sorting-btn {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }
  .sorting-right-btn-group {
    width: 179px;
    height: 38px;
    margin: 0 auto;
  }
}

/* Filtering and sorting menu items */

.sorting-btn {
  float: left;
  margin-right: 10px;
}

/* card genre sorter */

.movie-category-title {
  height: 60px;
  width: 100%;
  font-family: "Montserrat", serif;
  font-weight: bold;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}

/* Card element */

.card {
  width: 220px;
  transition: transform 0.3s ease;
  margin: 0 auto;
}

.card-all {
  margin: auto;
}

.card-category {
  margin-bottom: 50px;
}

.card:hover {
  transform: scale(1.05);
}

card.extend {
  width: 400px;
  height: auto;
  transition: width 0.3s ease;
}

.card-title {
  font-size: 25px;
  font-family: "Montserrat", serif;
  font-weight: 700;
  padding-bottom: 5px;
}

.pill-container {
  margin-bottom: 8px;
}
