/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  font-size: 20px;
  font-family: "Montserrat", serif;
}

.profile-picture {
  width: 60px;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.active {
  font-weight: bolder;
}

.nav-item-right {
  cursor: pointer;
}

.navbar-collapse{
  text-align: center;
}


/* --------------------------------------- */
.movie-genre{
  font-size: 20px;
  margin-top: 15px;
}
.movie-title{
  font-size: 55px;
  font-weight: bold;
  text-align: left;
}
.movie-director{
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
.movie-actors{
  font-size: 20px;
  font-weight: bold;
}
.movie-description{
  font-size: 20px;
}

@media (max-width: 991px){
  .profile-picture-frame{
    height: 100px;
    padding-top: 15px;
  }
  .movie-genre{
    font-size: 20px;
    margin-top: 15px;
  }
  .movie-title{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
  }
  .movie-director{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
  }
  .movie-actors{
    font-size: 18px;
    font-weight: bold;
  }
  .movie-description{
    font-size: 15px;
  }
}

@media (max-width: 768px){
  .movie-genre{
    font-size: 20px;
    margin-top: 15px;
  }
  .movie-title{
    font-size: 35px;
    font-weight: bold;
    text-align: left;
  }
  .movie-director{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
  }
  .movie-actors{
    font-size: 18px;
    font-weight: bold;
  }
  .movie-description{
    font-size: 20px;
  }
}

.top-btn{
  margin-top: 17px;
}

.movie-image{
  width: 100%;
}

.page-header {
  width: 100vw;
  height: 30vh;
  background-image: url(/assets/Anime/demon-slayer-2048x1536-10716.jpeg);
  background-size: cover;
}

.preview-pic {
  width: 100%;
  height: auto;
  background-size: cover;
}

.desc-container {
  width: 100vw;
  padding: 50px;

}

.left-col {

  width: 100%;
  height: auto;
  padding: 10px;

}

.episodes {
  margin-top: 50px;
}

.ep-cover {
  width: 300px;
  height: 200px;
}

/* Style the previous (left) button */
.owl-prev {
  background-color: #7e7e7e;
  border-radius: 50%; /* Make it circular */
  width: 40px; /* Adjust the button width as needed */
  height: 40px; /* Adjust the button height as needed */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px; /* Adjust the button's horizontal position as needed */
  z-index: 10;
  transition: background-color 0.3s ease; /* Add a transition effect */
}

/* Style the next (right) button */
.owl-next {
  background-color: #7e7e7e;
  border-radius: 50%; /* Make it circular */
  width: 40px; /* Adjust the button width as needed */
  height: 40px; /* Adjust the button height as needed */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px; /* Adjust the button's horizontal position as needed */
  z-index: 10;
  transition: background-color 0.3s ease; /* Add a transition effect */
}

/* Change button background color on hover */
.owl-prev:hover, .owl-next:hover {
  background-color: #333; /* Change to a different color on hover */
}
